<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <style type="assets/stylesheets" href="./application.css"></style>

        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <nav>
      <div class="nav-wrapper yellow">
        <a href="/blog" class="brand-logo center">Blog</a>
        <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="/users/<%=current_user.id %>">MyPage</a>
            </li>
            <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
            <li><a href="/blog/new">New</a></li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "LogIn", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "SignUp", new_user_registration_path, class: 'post' %></li>
          </ul>
        <% end %>
      </div>
    </nav>

  </head>

  <body>

    <%= yield %>
    <script type="assets/javascripts" src="./application.js"></script>
  </body>

</html>
